<br>
<h2>New post</h2>
<br>


<form>
	<div class="form-group">
	    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>