<h2>Post </h2>

<div class="jumbotron">
  <h1 class="display-4">Post id = <%= @row['id'] %></h1>
  <p class="lead"><%= @row['created_date'] %></p>
  <hr class="my-4"><p><%= @row['content'] %></p>
</div>
